body {
	font-family: 'Short Stack', cursive;
	line-height:1.6em;
	background-color:#ceb794;
	
	/*		fondo con el logo
	background:linear-gradient( rgba(206,183,148, 0.5) 10%, rgba(165,114,37, 0.5)90%),url(http://juan.diaz.people.cpcc.edu/sharedfiles/images/logo/watermarks/logo_marcaagua_gris.png);
	background-repeat: repeat;
  background-attachment: fixed;
	background-size: 10%;
	background-position: center; 
	text-align: center;
	*/
	
	color:darkslategrey;
	margin:0;
}
/*	Global	- it helps with margins and display everything ok*/
.container {
	width:90%;
	margin:auto;
	overflow:hidden;
}
/* everything in the header is the first and uper box */
header {
	background-color: #2e3f3e;
	color: greenyellow;		/*no lo uso*/
	}
/* header images - start*/
#name {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	width: 50%;
}
#logo {
	float:left;
	margin-left: 0;
	margin-top: 2%;
}
/* header images - end*/
/**** Navbar-left -start ****/
#navbar {
	background-color:#483d3f;
	color:#fff;
}
#navbar ul {
	padding:0;
	list-style: none;
}
#navbar li {
	display:inline;	
}
#navbar a {
	color: #c4a77d;
	text-decoration: none;
	font-size:18px;
	padding-right:15px;
}
#navbar .current a {		/* highlight current tag */
	color: #ef946c;
	font-weight: bold;
}
#navbar a:hover {	/* highlight when mouse is under*/
	color: orange;
	font-weight: bold;
}
/**** Navbar-left -end ****/
#validate a {
	text-decoration:none;
}
footer {
	background: #483d3f;
	color: #c4a77d;
	text-align: center;
	padding:20px;
	margin-top:40px;
}
.imgtemp {
	width: 200px;
	float: right;
}
/*		outside project  */
.adver {
	    text-align: center;
}
.imgadd { 
  position: relative;
  text-align: center;
}
.adver h3 { 
	position: absolute; 
  top: 0px; 
  left: 0px; 
  width: 100%; 
}
p a {
	color: darkslategrey;
	text-decoration: none;
}
p a:hover {
	font-weight: bold;
	cursor: pointer;
	color: seagreen;
}
/***************************/
/*	Gallery Section	*/
.galerySection h3 {
			color: #fff;
			text-align: center;
	}
	/*Estilos de la galeria*/
	.galeria {
		width: 90%;		/* margin left right */
		margin: auto;
		list-style: none;	/* no duts in ul list */
		padding: 10px;
		box-sizing: border-box;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	.galeria li {
		margin: 5px;
	}
	.galeria img {
		width: 400px;
		height: 250px;
		border-radius: 5%;
	}
	/* Estilos del modal - section display by clicking image */
	.modal {
		display: none;		/*	hide all the images, letting it display it one by one	*/
	}
	.modal:target {   
		display: block;
		position: fixed;
		background: rgba(80,60,0,0.5);	/*	color when clicking image	*/
		/*centering image:*/
		top: 10%;		left: 10%;		right: 10%;		bottom: 10%;
		width: 100%;
		height: 100%;
	}
	.modal h4 {
		color: #ceb794;
		font-size: 30px;
		text-align: center;
		margin: 15px 0;
	}
	.imagen {		/*	centra foto 	*/
		width: 100%;
		height: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.imagen a {		/*	flechas de los lados	*/
		color: #ceb794;
		font-size: 80px;
		text-decoration: none;
		margin: 0 25px;
	}
	.imagen a:nth-child(2) {
		margin: 0;
		height: 100%;
	}
	.imagen img {
		margin-top: 10%;
		width: 500px;			/* set up the size of image displaying by clocking  */
		height: 100%;
		max-width: 100%;
		border: 8px outset #483d3f;
		box-sizing: border-box;
		border-radius: 10%;
	}
.more {
	text-align: center;
	margin-top: 5%;
}
	.cerrar {
		display: block;
		background: orange;
		width: 25px;
		height: 25px;
		margin: 15px auto;
		text-align: center;
		text-decoration: none;
		font-size: 25px;
		color: orangered;
		padding: 5px;
		border-radius: 50%;
		line-height: 25px;
}
		/*		follow - J&G Proyectos Web (youtube) - 	https://www.youtube.com/channel/UCrh: 7px Bm I Gftt 9px I3fc A B Yoa B A;		*/
			
/***********************************************/
/* TABLE - starts*/
th a {
  text-decoration: none;
  color: darkslategray;
}
/* TABLE - end*/
	/*	banner animated	*/	
.banner {
	width: 500px;
	height: 200px;
	border: 3px solid gray;
	margin: auto;
	border-radius: 7%;
	background-size: 100% 100%;
	
	animation-name: banner;
	animation-duration: 20s;
	animation-iteration-count: infinite;
	
	/* animation: banner 10s infinite  - esta es la forma corta */
}
@keyframes banner {
	0%, 20% {
		background-image: url(http://students.cpcc.edu/~jdiaz028/sharedfiles/images/logo/multilogo.jpg);
	}
	25%, 45% {
		background-image: url(http://juan.diaz.people.cpcc.edu/images/tissot/adv/tissot.png);
	}
	50%, 70% {
		background-image: url(http://juan.diaz.people.cpcc.edu/images/rayban/adv/banner.jpg);
	}
		75%, 100% {
		background-image: url(http://juan.diaz.people.cpcc.edu/images/swatch/adv/swatch.png);
	}
}	
/* Banner animado con HTML y CSS link: (https://www.youtube.com/watch?v=TpsTGGsyREQ&list=PL_Wdx4nuuZgqSKu-GxZ5GxldRgE6ft5Bw) */

/***************************/

/*	display rayban adv images	 - left*/
.adverBanner {
	display: inline-block;
  width: 400px;
	height: 300px;
	border: 3px solid gray;
	background-size: 100% 100%;
	
	animation-name: adverBanner;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	
	/* animation: banner 10s infinite  - esta es la forma corta */
}
@keyframes adverBanner {
	0%, 10% {
		background-image: url(http://juan.diaz.people.cpcc.edu/images/bulgari/18SuLogo/BV8199B_54383B55.PNG);
	}
	15%, 25% {
		background-image: url(http://juan.diaz.people.cpcc.edu/images/bulgari/18SuLogo/BV2186_2018_53.PNG);
	}
	30%, 40% {
		background-image: url(http://juan.diaz.people.cpcc.edu/images/bulgari/18SuLogo/BV6107_20486F62.PNG);
	}
	45%, 55% {
		background-image: url(http://juan.diaz.people.cpcc.edu/images/bulgari/18SuLogo/BV8174B_504-T556.PNG);
	}
	60%, 70% {
		background-image: url(http://juan.diaz.people.cpcc.edu/images/bulgari/18SuLogo/BV8184B_53768G53.PNG);
	}
	75%, 85% {
		background-image: url(http://juan.diaz.people.cpcc.edu/images/bulgari/18SuLogo/BV6109_20134Z62.PNG);
	}
	90%, 100% {
		background-image: url(http://juan.diaz.people.cpcc.edu/images/bulgari/18SuLogo/BV8197_53621355.PNG);
	}
}	
/* end rayban display*/
/*	display BestSellers images - center	*/
.bannerBestSellers {
  display: inline-block;
  width: 300px;
	height: 300px;
	border: 3px solid gray;
	background-size: 100% 100%;
	
  animation: bannerBestSellers 20s infinite;
}
@keyframes bannerBestSellers {
	0%, 10% {
		background-image: url(http://juan.diaz.people.cpcc.edu/images/rayban/adv/never%20hide.jpg);
	}
	15%, 25% {
		background-image: url(http://juan.diaz.people.cpcc.edu/images/rayban/adv/2rayban.PNG);
	}
	30%, 40% {
		background-image: url(http://juan.diaz.people.cpcc.edu/images/rayban/adv/3rayban.PNG);
	}
	45%, 55% {
		background-image: url(http://juan.diaz.people.cpcc.edu/images/rayban/adv/4rayban.PNG);
	}
	60%, 70% {
		background-image: url(http://juan.diaz.people.cpcc.edu/images/rayban/adv/5rayban.PNG);
	}
	75%, 85% {
		background-image: url(http://juan.diaz.people.cpcc.edu/images/rayban/adv/1rayban.PNG);
	}
	90%, 100% {
		background-image: url(http://juan.diaz.people.cpcc.edu/images/rayban/adv/6rayban.PNG);
	}
}	
/* end bannerBestSellers display*/
/*	display other adv images	 - right*/
.adverBannerRight {
	display: inline-block;
  width: 300px;
	height: 300px;
	border: 3px solid gray;
	background-size: 100% 100%;
	
	 animation: adverBannerRight 10s infinite;
}
@keyframes adverBannerRight {
	0%, 10% {
		background-image: url(http://juan.diaz.people.cpcc.edu/images/swatch/18SuLogo/SUOB134.jpg);
	}
	15%, 25% {
		background-image: url(http://juan.diaz.people.cpcc.edu/images/swatch/18SuLogo/SUOW100.jpg);
	}
	30%, 40% {
		background-image: url(http://juan.diaz.people.cpcc.edu/images/swatch/18SuLogo/YVS423G.jpg);
	}
	45%, 55% {
		background-image: url(http://juan.diaz.people.cpcc.edu/images/swatch/18SuLogo/SUOZ148.jpg);
	}
	60%, 70% {
		background-image: url(http://juan.diaz.people.cpcc.edu/images/swatch/18SuLogo/YOS455G.jpg);
	}
	75%, 85% {
		background-image: url(http://juan.diaz.people.cpcc.edu/images/swatch/18SuLogo/YAS100G.jpg);
	}
	90%, 100% {
		background-image: url(http://juan.diaz.people.cpcc.edu/images/swatch/18SuLogo/YCS410GX.jpg);
	}
}	
/* end rayban display*/
/*	display other adv images	 - 2*/
.adverBanner2 {
	display: inline-block;
  width: 300px;
	height: 300px;
	border: 3px solid gray;
	background-size: 100% 100%;
	
	 animation: adverBanner2 10s infinite;
}
@keyframes adverBanner2 {
	0%, 10% {
		background-image: url(http://juan.diaz.people.cpcc.edu/images/fossil/18SuLogo/FS4774.jpg);
	}
	15%, 25% {
		background-image: url(http://juan.diaz.people.cpcc.edu/images/tissot/adv/clock.jpg);
	}
	30%, 40% {
		background-image: url(http://juan.diaz.people.cpcc.edu/images/mido/18Su/M025.627.36.061.00.jpg);
	}
	45%, 55% {
		background-image: url(http://juan.diaz.people.cpcc.edu/images/tissot/adv/ts.jpg);
	}
	60%, 70% {
		background-image: url(http://juan.diaz.people.cpcc.edu/images/tissot/adv/tour.jpg);
	}
	75%, 85% {
		background-image: url(http://juan.diaz.people.cpcc.edu/images/rayban/adv/black-white.jpg);
	}
	90%, 100% {
		background-image: url(http://juan.diaz.people.cpcc.edu/images/rayban/adv/hide.png);
	}
}	
/**********************************************/
/* Contact page */
fieldset {
	width: 250px;
	height: auto;
	background: rgba(74,74,5,0.3);
	border-radius: 5%;
	border: none;
	margin: 10px;
	color: whitesmoke;
	text-align: center;
}
legend { /*title*/
	background: #483d3f;
	color: #c4a70d;
	font-weight: 600;
	padding: 10px 20px 10px 20px;
	opacity: 0.8;
	border-radius: 45%;
}
input {
	/*background-color: -;*/
	color: dimgray;
	border: none;
  border-bottom: 3px solid #555;
	text-align: center;
	opacity: 0.8;
	border-radius: 10%;
}
::placeholder{
	color: darkslategray;
	font-weight: bold;
	text-align: center;
}
input:invalid:not(:focus), select, textarea {
  outline: none;
	color: darkslategray;
	background: none;
	border: none;
}
#comment {
	color: darkslategray;
	margin: 0;
	font-size: 12px;
	font-weight: bold;
}
button {
	background: rgba(196,235,97,0.5);
	color: darkgreen;
	font-size: 14px;
	border-radius: 30%;
	margin: 10px;
	padding: 10px;
}
button:hover {
	background: rgba(196,235,170,0.5);
	color: palegreen;
	font-weight: bold;

}
footer a {
	text-decoration: none;
    color: #c4a77d;
}
footer a:hover {
	font-weight: bold;
}
/* end */